.searchbar_box{
    width: 500px;
    display: flex;
    align-items: center;
    margin: 0 auto 100px auto;

}

.searchbar{
    border: 3px solid #171718;
    border-radius: 26px;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
}